<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.soundlab.web.music.MusicMapper">
	<select id="top50List" resultType="map" parameterType="map">
		<if test="#{id} != null">
			SELECT
			CH.*,
			UD.TYPES
			FROM
		</if>
		(SELECT CAST(@RNUM := @RNUM + 1 AS SIGNED INTEGER) AS NO, A.*
		FROM (
		SELECT DISTINCT
		AL.ALBUM_TITLE,
		AR.ARTIST_NAME,
		MUS.MUSIC_TITLE,
		MUS.MUSIC_SEQ,
		MUS.GENRE_SEQ,
		AL.ALBUM_SEQ,
		AR.ARTIST_SEQ,
		COUNT(SEQ_GROUP)VIEW_COUNT,
		( SELECT
		CONCAT(IMG_NAME, '.', EXT)
		FROM IMG
		WHERE SEQ LIKE AL.ALBUM_SEQ) IMG
		FROM MUSIC MUS
		JOIN VIEW_RECORD V ON V.SEQ_GROUP LIKE MUS.MUSIC_SEQ
		JOIN ALBUM AL ON MUS.ALBUM_SEQ LIKE AL.ALBUM_SEQ
		JOIN ARTIST AR ON
		MUS.ARTIST_SEQ LIKE AR.ARTIST_SEQ

		WHERE VIEW_DATE BETWEEN
		CONCAT(#{date1},'%') AND CONCAT(#{date2},'%')
		GROUP BY V.SEQ_GROUP
		ORDER BY VIEW_COUNT DESC, V.SEQ_GROUP DESC LIMIT 30) AS A,
		(SELECT @RNUM := 0) AS B

		<if test="#{id} != null">
			)CH
			LEFT JOIN (SELECT
			*
			FROM(
			SELECT
			MAX(U.UD_SEQ) MAX_SEQ
			FROM
			UPDOWN U
			WHERE MEMBER_ID LIKE #{id}
			GROUP BY U.SEQ_GROUP
			ORDER BY
			U.UD_SEQ DESC
			)A
			JOIN(SELECT * FROM UPDOWN U) B
			ON A.MAX_SEQ LIKE
			B.UD_SEQ
			ORDER BY B.SEQ_GROUP)UD
			ON CH.MUSIC_SEQ LIKE UD.SEQ_GROUP
			GROUP BY CH.MUSIC_TITLE
			ORDER BY NO
		</if>


	</select>

	<select id="top50lineChart" resultType="map" >

		SELECT  V1.SEQ_GROUP SEQ, COUNT(*) 스트리밍 , DATE_FORMAT(V1.VIEW_DATE,'%Y-%m-%d') 날짜, M.MUSIC_TITLE TITLE, A.ARTIST_NAME 가수
		FROM VIEW_RECORD V1
		LEFT JOIN MUSIC M
		ON V1.SEQ_GROUP = M.MUSIC_SEQ
		LEFT JOIN ARTIST A
		ON M.ARTIST_SEQ = A.ARTIST_SEQ
		WHERE V1.SEQ_GROUP IN (
			SELECT tmp.mseq
			FROM
			(SELECT V.SEQ_GROUP mseq, COUNT(*) cnt
			FROM VIEW_RECORD V
			WHERE V.VIEW_DATE LIKE CONCAT(#{todayDate},'%')
			GROUP BY V.SEQ_GROUP
			ORDER BY cnt
			DESC limit 3) tmp
			)
		AND V1.VIEW_DATE BETWEEN CONCAT(#{date1},'%') AND CONCAT(#{date2},'%')
		GROUP BY V1.SEQ_GROUP, DATE_FORMAT(V1.VIEW_DATE,'%Y-%m-%d')
		ORDER BY V1.VIEW_DATE, COUNT(*) DESC, V1.SEQ_GROUP DESC;
		<!-- ORDER BY VIEW_DATE DESC  -->
	</select>


	<select id="infiSc" resultType="map" parameterType="map">
		<if test="#{id} != null">
			SELECT
			CH.*,
			UD.TYPES
			FROM
		</if>
		( SELECT C.*
		FROM
		(SELECT CAST(@RNUM := @RNUM + 1 AS SIGNED INTEGER) AS
		NO, A.*
		FROM ( SELECT
		AL.ALBUM_TITLE,
		AR.ARTIST_NAME,
		MUS.MUSIC_TITLE,
		MUS.MUSIC_SEQ,
		AL.ALBUM_SEQ,
		AR.ARTIST_SEQ,
		MUS.GENRE_SEQ,
		DATE_FORMAT(V.VIEW_DATE,'%y-%m-%d')AS VIEW_DATE,
		COUNT(SEQ_GROUP)VIEW_COUNT,
		( SELECT CONCAT(IMG_NAME, '.', EXT)
		FROM IMG
		WHERE SEQ LIKE AL.ALBUM_SEQ) IMG
		FROM MUSIC MUS
		JOIN VIEW_RECORD V ON
		V.SEQ_GROUP LIKE MUS.MUSIC_SEQ
		JOIN ALBUM AL ON MUS.ALBUM_SEQ LIKE
		AL.ALBUM_SEQ
		JOIN ARTIST AR ON MUS.ARTIST_SEQ LIKE AR.ARTIST_SEQ

		WHERE
		VIEW_DATE BETWEEN
		CONCAT(#{date1},'%') AND CONCAT(#{date2},'%')


		GROUP BY
		V.SEQ_GROUP
		ORDER BY VIEW_COUNT DESC LIMIT 50) AS A,
		(SELECT @RNUM :=
		0)
		AS B) AS C
		WHERE C.NO BETWEEN #{PageNo} AND
		#{PageNoEnd}
		<if test="#{id} != null">
			)CH
			LEFT JOIN (SELECT
			*
			FROM(
			SELECT
			MAX(U.UD_SEQ) MAX_SEQ
			FROM
			UPDOWN U
			WHERE MEMBER_ID LIKE #{id}
			GROUP BY U.SEQ_GROUP
			ORDER BY
			U.UD_SEQ DESC
			)A
			JOIN(SELECT * FROM UPDOWN U) B
			ON A.MAX_SEQ LIKE
			B.UD_SEQ
			ORDER BY B.SEQ_GROUP)UD
			ON CH.MUSIC_SEQ LIKE UD.SEQ_GROUP
			GROUP BY CH.MUSIC_TITLE
			ORDER BY NO
		</if>

	</select>
</mapper>
